@model IEnumerable<Projeto.TCC.Painel.Models.Mensagem>

@{
    ViewBag.Title = "Resultado";
}

<h4>Relatorio</h4>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        @{       
            
            int aux = 1; 

            foreach(var mensagem in Model)
            {                                   
                <div class="row">
                    @*<div class="col-md-12">
                        @mensagem.Perfil
                    </div>*@
                    <div class="col-md-12">
                        <div class="c100 p@(mensagem.Porcentagem) big">
                            <span>@mensagem.Porcentagem%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <span id="Descricao@(aux)"></span>     
                        
                        <script type="text/javascript">
                            $("#Descricao@(aux)").html($("<span />", { html: "@mensagem.Descricao" }).text());                               
                            
                        </script>                  
                    </div>
                </div>
            
                aux++;
                
                <br />
            }
        }

    </div>
</div>

<script>
    @*$(function () {

        $("#Resultado").html(convert("@ViewBag.Relatorio"));        
    });*@

    

    var convert = function (convert) {
        return $("<span />", { html: convert }).text();
    }

</script>