@model Projeto.TCC.Painel.Models.Perfil

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar?</h3>
<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Perfils", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
