* {
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}


body {
    padding-top: 70px;
    padding-bottom: 20px;
    height: 100%;

}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.adm{

background: #e3d1c7; /* Old browsers */
/*/background: /*url('../img/fundo3.png') no-repeat fixed bottom left;*/
background: /*url('../img/fundo3.png') no-repeat fixed bottom left,*/ -moz-linear-gradient(top,  #e3d1c7 0%, #f7f2ef 100%) fixed; /* FF3.6-15 */
background: /*url('../img/fundo3.png') no-repeat fixed bottom left,*/ -webkit-linear-gradient(top,  #e3d1c7 0%,#f7f2ef 100%) fixed; /* Chrome10-25,Safari5.1-6 */
background: /*url('../img/fundo3.png') no-repeat fixed bottom left,*/ linear-gradient(to bottom,  #e3d1c7 0%,#f7f2ef 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d1c7', endColorstr='#f7f2ef',GradientType=0 ); /* IE6-9 */

margin-bottom: 0px;
padding-bottom: 0px;



background-size: 100%;

}


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.menu-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 4px;
}

.menu-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #ccc;
}

.menu-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.panel > .panel-heading {
    text-align: center;
}

.table tbody > tr > th,
.panel > .panel-heading,
.table tbody > tr > td
{
    text-align: center;
}

.table thead > tr > th
{
    text-align: center !important;
}

.panel > .panel-heading
{
    font-weight: bold;
}



@media (min-width:1050px) {
    .questionario {
        margin-top: 50px;
    }
}

 @media (min-width: 800px) and (max-width:1049px) {
    .questionario {
        margin-top: 80px;
    }
}

 @media (max-width:799px) {
    .questionario {
        margin-top: 200px;
    }
}