@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}


<button class="btn btn-default" id="myLink" style="margin-bottom: 20px">Imprimir Relatório</button>

<br />

<div id="relatorio">
    <div class="panel panel-default">
        <div class="panel-heading">Gerenciar Resultados</div>
        <table class="table table-hover" id="tabelaRelatorio">
            <thead>
                <tr>

                    @for (int i = 3; i < Model.Columns.Count; i++)
                    {
                        DataColumn col = Model.Columns[i];
                        <th>@col.ColumnName</th>
                    }

                    <th>Detalhes</th>

                </tr>

            </thead>
            <tbody>

                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    DataRow row = Model.Rows[i];

                    <tr>

                        @for (int y = 3; y < Model.Columns.Count; y++)
                        {
                            DataColumn col = Model.Columns[y];

                            <td>@row[col.ColumnName]</td>
                        }

                        <td>@Html.ActionLink("Detalhes", "Details", new { CandidatoId = row[1], QuestionarioId = row[2] })</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <img class="img-responsive" src='@Url.Action("Grafico", "Resultados", new { questionarioId = ViewBag.QuestionarioId })' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="teste"></div>

<script type="text/javascript">


    $("#myLink").click(function (e) {

       

        
    
       
        
        

        var printContents = $("#relatorio").html();

        
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

        location.reload();
        
    });


</script>
