@model IEnumerable<Projeto.TCC.Painel.Models.Questionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Gerenciar Resultados</div>
    <table class="table table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    Detalhes
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Candidatos", "Candidatos", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

</table>
</div>